#bigs article {
  text-align: right;
  padding: 5em;
  font-family: serif;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

#chungus {
  background: url(chungus.png);
  background-color: darkslategray;
  background-size: cover;
  background-position-y: 43%;
}

#bigger {
  background: url(chungus.png);
  background-color: lightslategray;
  background-size: 100% 100%;
  background-position-y: 43%;
}

#biggest {
  background: url(chungus.png);
  background-color: red;
  background-size: 200% 200%;
  background-position-y: 43%;
  background-position-x: 50%;
}